:root {
  --bold-font-weight: 700;
  --primary-font-size:24px;
  --basic-transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ul[class],
ol[class] {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin-top: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-size: var(--primary-font-size);
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline: none;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
  background-color: inherit;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.button {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  background-color: #00aeff;
  border-radius: 5px;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-light-text-color);
  background-color: var(--primary-accent-color);
}

.basic-button:focus, .basic-button:hover {
  background-color: var(--secondary-accent-color);
}

.calculator {
  outline: 2px solid #f70dc4;
  padding: 20px 10px;
  background-color: aquamarine;
}

.extra_input_field {
  display: block;
  width: 100%;
  height: 10px;
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: var(--bold-font-weight);
}

.input_wrap {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input_field {
  width: 100%;
  min-height: 50px;
  padding: 0 5px;
  text-align: right;
}

.numbers,
.utils,
.operators {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.management {
  margin-bottom: 0;
}

.item {
  width: 100%;
}

.menegement_item:not(:last-child) {
  margin-bottom: 10px;
}

.grid_wrap_1 {
  display: grid;
  grid-template-columns: 22% 78%;
  column-gap: 20px;
  row-gap: 10px;
}

.grid_wrap {
  /* grid-template-columns: repeat(3, 1fr) repeat(2, 3fr); */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
}
/*# sourceMappingURL=main.css.map */