:root {
  --primary-accent-color: #0090ff;
  --primary-bg-color: #7cf7a6;
  --secondary-bg-color: #00aeff;
  --basic-gradient: radial-gradient(60px, #00aeff, #0090ff);
  --basic-gradient-invert: radial-gradient(60px, #0090ff, #00aeff);
  --bold-font-weight: 700;
  --primary-font-size: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

ul[class],
ol[class] {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin-top: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-size: var(--primary-font-size);
  background-color: var(--primary-bg-color);
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline: none;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
  background-color: inherit;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.button_basic {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  font-weight: var(--bold-font-weight);
  text-transform: uppercase;
  background-color: var(--secondary-bg-color);
  background-image: var(--basic-gradient);
  border-radius: 5px;
  transform: scale(1);
}

.button_basic:focus, .button_basic:hover {
  background-color: var(--primary-accent-color);
  background-image: var(--basic-gradient-invert);
  transform: scale(1.03);
}

.button_basic:active {
  transform: scale(0.96);
}

.calculator {
  padding: 20px 10px;
}

.extra_input_field {
  display: block;
  width: 100%;
  min-height: 20px;
  padding: 0 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: var(--bold-font-weight);
}

.input_wrap {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input_field {
  width: 100%;
  min-height: 50px;
  padding: 0 5px;
  text-align: right;
  font-size: 36px;
  font-weight: var(--bold-font-weight);
  border: none;
  border-radius: 5px;
  background-color: inherit;
  outline: 2px solid var(--primary-accent-color);
}

.input_field:hover, .input_field:focus {
  outline-width: 4px;
}

.buttons_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.management {
  margin-bottom: 0;
}

.item {
  width: 100%;
}

.management_item:not(:last-child) {
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */