.button_basic {
  width: 100%;
  min-height: 50px;
  padding: 5px;

  font-weight: var(--bold-font-weight);
  text-transform: uppercase;

  background-color: var(--secondary-bg-color);
  background-image: var(--basic-gradient);
  border-radius: 5px;
  transform: scale(1);

  &:focus,
  &:hover {
    background-color: var(--primary-accent-color);
    background-image: var(--basic-gradient-invert);
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.96);
  }
}
