body {
  font-size: var(--primary-font-size);
  background-color: var(--primary-bg-color);
}

// main {
//   width: 100%;
//   height: 100%;
// }

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline: none;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
  background-color: inherit;
}
