.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 5px;

  @include adaptive-for-phone {
    // width: 100%;
  }

  @include adaptive-for-tablet {
    padding: 0 15px;
  }

  // @include adaptive-for-desktop {
  //   width: $desktop;
  // }
}
