:root {
  //colors
  --primary-accent-color: #0090ff;
  --primary-bg-color: #7cf7a6;
  --secondary-bg-color: #00aeff;
  --basic-gradient: radial-gradient(60px, #00aeff, #0090ff);
  --basic-gradient-invert: radial-gradient(60px, #0090ff, #00aeff);
  --bold-font-weight: 700;
  --primary-font-size: 24px;
  //animation
  // --basic-transform-animation: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
